﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MapaDinamico</title>
    
   
</head>
<body>
    <div> 
        <div id="divMap" style="width:700px; height:500px"></div>

        <div id="resultado"> asdfasdfasdf</div>

        <div>
            <h1>Ubicacion actual</h1>
            <p>Ubicacion donde te encuentras actualmente</p>
            <a href="www.google.com.sv">Ir a paguina de goole</a>
        </div>
    </div>

    
    <script src="http://maps.google.com/maps/api/js?sensor=false"> </script>
    <script>

        navigator.geolocation.getCurrentPosition(fun_ok, fun_err);  
        function fun_ok(resulado) {
            var divMap = document.getElementById('divMap');
            var lat = resulado.coords.latitude;
            var log = resulado.coords.longitude;
           
            var gLatLng = new google.maps.LatLng(lat, log);
            var gObjConfig = {
                center: gLatLng,
                zoom:17
            }
            

            var gMap = new google.maps.Map(divMap, gObjConfig);

            var gObjConfigMarker = {
                position: gLatLng,
                map: gMap,
                title: 'Ubicacion Actual',
                animation: google.maps.Animation.BOUNCE
            }
            var gMarkers = new google.maps.Marker(gObjConfigMarker);//poner marcadores
            gMarkers.setIcon('/images/location-icon2.png');

            var ObjHtml = {
                content:'<div><h1>Ubicacion actual</h1><p>Ubicacion donde te encuentras actualmente</p><a href="www.google.com.sv">Ir a paguina de goole</a> </div>'
            }
            var gInfo = new google.maps.InfoWindow(ObjHtml);

            //hay que indicar que el pin es clicleable   
            google.maps.event.addListener(gMarkers, 'click', function () {
                gInfo.open(gMap, gMarkers);
            });

            var gObjConfigMarker1 = {
                position: {lat:13.738769, lng:-89.213898},
                map: gMap,
                title: 'destino',
                animation: google.maps.Animation.DROP 
            }
            var gMarkers1 = new google.maps.Marker(gObjConfigMarker1);//poner marcadores
            gMarkers1.setIcon('/images/location-icon.png');

            
        }
        function fun_err() {
            document.getElementById('divMap').innerHTML = 'ocurrio un error';
        }
         
       
       
    </script>

</body>
</html>
