﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MapaEstatico</title>
    <link href="~/Recursos/examples.css" rel="stylesheet" />
    

</head>
<body>
    <div> 
        <section>
            <h1>Mapa estatico</h1>
        </section>
        <section id="divMapa"></section>
    </div>
    <script>
    var divMapa = document.getElementById('divMapa');

    navigator.geolocation.getCurrentPosition(fun_ok, fun_error);

    function fun_ok(respuesta) {
        var lat = respuesta.coords.latitude;
        var log = respuesta.coords.longitude;
        var coordenadas = lat + ' , ' + log;
        divMapa.innerHTML = '<img src="http://maps.googleapis.com/maps/api/staticmap?size=400x400&markers=color:blue|' + coordenadas + '&zoom=18&maptype=hybrid"/>';
    }
    function fun_error() { }
    </script>
    
</body>
</html>
